<% if User.current.sudoer? %>
  <div id="sudo">
    <a class="sudo" href="/sudo/toggle">
      <% label = User.current.admin? ? "become_user" : "become_admin" %>
      <%= Setting.plugin_redmine_sudo[label] %>
    </a>
  </div>
<% end %>
