<% if User.current.sudoer? %>
<style>
  .sudo { margin:0 5px; font-weight:normal !important; }
</style>
<% label = User.current.admin? ? 'sudo -k' : 'sudo -v' %>
<script>
  $(function() {
    $('<span><a class="sudo" href="/sudo/toggle">[<%=label%>]</a></span>').appendTo('#loggedas')
  })
</script>
<% end %>
