<% if User.current.sudoer? %>
<style>
  .sudo { margin:0 5px; font-weight:normal !important; }
</style>
<% label = User.current.admin? ? Setting.plugin_redmine_sudo["become_user"] : Setting.plugin_redmine_sudo["become_admin"] %>
<script>
  $(function() {
    $('<span><a class="sudo" href="/sudo/toggle"><%=label%></a></span>').appendTo('#loggedas')
  })
</script>
<% end %>

<% if User.current.admin? && Setting.plugin_redmine_sudo["additional_css"].present? %>
<style>
  <%= Setting.plugin_redmine_sudo["additional_css"].html_safe %>
</style>
<% end %>
