<% if User.current.sudoer? %>
  <div id="sudo">
    <ul>
      <li>
        <%= link_to sudo_toggle_path(:back_url => my_page_path), :class => "sudo" do %>
          <% label = User.current.admin? ? "become_user" : "become_admin" %>
          <%= Setting.plugin_redmine_sudo[label] %>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
